.App {
  display: flex;
  font-family: "Roboto";
  padding: 20px;
  margin: 50px auto;
  border-radius: 25px;
  background-color: white;
  max-width: 750px;
  max-height: 500px;
}

.Page {
  margin: 0;
  padding: 0;
}

.Info {
  width: 50%;
  padding: 20px;
  padding-right: 40px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 10px;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-image: url("./images/icon-list.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.Info h1 {
  font-weight: bold;
  width: 100%;
}

.InputLabel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}
.errorLabel {
  margin-left: auto;
  color: hsl(4, 100%, 67%);
}

.errorInput {
  background-color: hsla(4, 100%, 67%, 0.4);
  border-color: hsl(4, 100%, 67%);
  border-width: 1px;
}

.Info input {
  height: 40px;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 100%;
}

.Image {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  width: 50%;
  padding: 10px;
}
.Image img {
  height: auto;
  width: 100%;
  max-width: 100%; /* Ensure the image doesn't exceed the container */
  margin: auto;
}

.successMsg {
  background-color: white;
  border-radius: 20px;
  text-align: left;
  z-index: 1;
  height: 350px;
  width: 350px;
  margin: 50px auto;
  padding: 20px;
}

.successMsg button {
  margin-top: 15px;
}

@media (max-width: 375px) {
  .successMsg {
    height: 100vh;
    max-width: 375px;
    border-radius: 0;
    padding: 20px;
  }
  .App {
    flex-direction: column-reverse;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: flex-start;
    max-height: fit-content;
    transform: translateY(-50px);
  }
  .Image {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    margin: 0;
  }

  .Image img {
    object-fit: contain;
    width: 100%;
  }

  .Info {
    width: 100%;
    padding: 0;
  }
  .Info input {
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .Container {
    padding: 0 25px;
    margin: 30px 0;
  }
  button {
    margin-bottom: 50px;
  }
}
